.stats {
  border-right: 2px solid #fff0;
}

.statsCard {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  background: #ffffff70;
  padding: 1rem;
  align-items: baseline;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.statsChange p {
  margin-bottom: 0;
  font-size: 13px;
}

.statsContent {
  display: flex;
  gap: 1rem;
  flex-grow: 1;
}

.statsImg {
  flex-shrink: 0;
}

.statsImg img {
  width: 60px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 0.5rem;
}

.statsData {
  flex-grow: 1;
}

.statsNumber {
  font-weight: 600;
  margin: 0;
}

.statsText {
  color: var(--grayColor);
  margin: 0;
}

.statsChange {
  flex-shrink: 0;
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
  .stats,
  .stats:not(:last-child) {
    border-color: #fff0;
  }

  .stats:nth-child(odd) {
    border-color: #000;
  }
}

@media screen and (max-width: 767px) {
  .stats,
  .stats:not(:last-child),
  .stats:nth-child(odd) {
    border-color: #fff0;
  }
}

.responsive-chart {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
}

@media (min-width: 768px) { /* For large screens (like tablets and desktops) */
  .responsive-chart {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25% !important;
    height: 25% !important;
  }
}
