@import url("./../fonts/stylesheet.css");

/*----- General Css Start -----*/

:root {
  /* --primaryColor: #ffa506; */
  --primaryColor: #dd6c2a;
  --grayColor: #2e2e2e;
  --redColor: #ff0000;
  --greenColor: #42c900;
  --yellowColor: #e5bb45;
  --whiteColor: #fff;
}

body {
  font-family: "Qanelas";
  font-weight: 500;
}

.primaryColor {
  color: var(--primaryColor) !important;
}

.grayColor {
  color: var(--grayColor) !important;
}

.greenColor {
  color: var(--greenColor) !important;
}

.redColor {
  color: var(--redColor) !important;
}

.yellowColor {
  color: var(--yellowColor) !important;
}

.notButton {
  border: none;
  background: none;
  outline: none !important;
  box-shadow: none !important;
}

.classicToggle::after {
  display: none;
}

/*----- General Css End -----*/

/*----- Modal Css Start -----*/

.closeButton {
  font-size: 16px;
  color: #fff;
  background: var(--primaryColor);
  width: 30px;
  height: 30px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  margin: 0.5rem;
  margin-left: auto;
}

.modalImage {
  width: 90px;
  margin-bottom: 1rem;
}

.modalContent {
  margin: 1rem 0;
}

.modalHeading {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 3rem;
  font-weight: 600;
}
/*----- Modal Css End -----*/

.dashCard {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
}

.mainTitle {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}

.profileImage img {
  width: 90px;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 99px;
  outline: 2px solid #bcbcbc;
  outline-offset: 4px;
}

.statusBadge {
  font-size: 15px;
  color: #fff;
  padding: 0.4rem 0.8rem;
  border-top-left-radius: 99px;
  border-bottom-left-radius: 99px;
  position: relative;
  left: 2rem;
}

.statusBadgeActive {
  background: var(--greenColor);
}

.statusBadgeInactive {
  background: var(--redColor);
}

.secondaryLabel {
  font-size: 15px;
  font-weight: 700;
  color: #a2a2a2;
  margin-bottom: 0.2rem;
}

.addUser {
  display: flex;
  align-items: baseline;
  gap: 10px;
  flex-wrap: wrap;
}

.addUser .inputWrapper {
  flex-grow: 1;
}

.secondaryText {
  font-size: 15px;
  font-weight: 700;
  color: #333;
  margin-bottom: 0.2rem;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 8px solid;
  border-color: #e4e4ed;
  border-right-color: var(--primaryColor);
  animation: s2 1s infinite linear;
}
@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}

.loaderBox {
  position: fixed;
  background-color: #000000c2;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 999999999999;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .mainTitle {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .addUser {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 10px;
    flex-wrap: wrap;
  }
}
